extends layout

block content
    .container
        .jumbotron
            h1.display-4 Request saved
            .card
                include request-partitial
                h5.card-header Link
                .card-body
                    a(href=path + '/requests', class='btn btn-primary') Go to request list
