extends layout

block content
  script(src="/socket.io/socket.io.js")
  script(src="/scripts/socket.js")
  h1 Request list
  div.requests
    each request in requests
      .my-card-container
        include request-partitial
