body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.my-card-container{
  border:2px solid rgb(145, 145, 145);
  margin-bottom: 20px;
  border-radius: 5px;
}
